.user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-body {
  text-align: center;
  height: 70px;
  width: 75px;
  overflow: hidden;
}

.card-image {
  height: 127px;
  width: 127px;
  border-radius: 30%;
  object-fit: cover;
  margin: auto;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
